
#errorbackround{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/images/404PageBG2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#errorbackround h1{
    margin-bottom: 30px;
    text-align: center;
}
#errorbackround button{
    /* font-size: 15px; */
    padding: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    text-align: center;
}