

#graph{
    min-height: 500px;
    /* background-color: red; */
    min-width:1000px;
}


@media(max-width:1000px){
    #graph{
        min-height: 200px;
        max-width: 300px;
        min-width: 150px;
    }
}