
.navbar_container{
    background-image: linear-gradient(#0026fd,#2a2a72);
    height: 100vh;
    width: 11vw;
    position: fixed;
    transition: 0.2s width ease-in;
}
.navbar_container:hover{
    width: 11vw;
}

.navbar_container:hover .link_text{
    display: block;
    opacity: 1;
}

.navbar_link{
    padding: 20px;
    cursor: pointer;
    transition: 0.1s transform ease-in-out;
}




.navbar_link:hover{
    transform: translate(0,-10px);
    background-color: white;
    color: blue;
}

.link_text{
    width: 100%;
    text-align: center;
    /* opacity:  0; */
    transition: 0.2s opacity ease-in;
}



#navbar_links{
    height: 60%;
}



@media(max-width:1000px){

    /* #navbar_links{
      
    } */

}