
.homepage{
    margin-top: 30px;
    position: relative;
}


.section_header{
    min-height: 7vh;
    padding: 35px 0;
}

@media(max-width:900px){
    .homepage{
        /* padding: 40px; */
        margin-right: 0;
    }
    .section_header{
        padding: 15px 0px;
    }
}