
:root{
    --primary_color:white;
    --secondary_color:#0026fd;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box
}



body{
    font-family: sans-serif;
    color: white;
    overflow: scroll;
}


p{
    line-height: 1.4;
}

a{
    text-decoration: none;
    color:  white;
}




.page{
    margin: 60px 0;
}


.big_screen_size{
    display: block;
}

.small_screen_size{
   display: none;
}

.title{
    color: white;
    font-size: 40px;
}

.bigText{
    font-size: 20px;
}

.mediumText{
    font-size: 17px;
}


.App{
    min-height: 100vh;
    position: relative;
    background-color: black;
    z-index: 2;
    animation-duration: 0.02s;
}

.App::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat:repeat;
    /* background-position: center; */
    /* background-size: cover; */
    background-image: url('/public/images/netFlixBG.png');
    opacity: 0.4;
    z-index: -666;
}



.screen{
    min-height: 100vh;
}

.container{
    /* padding: 20px; */
    margin: auto;
    width: 87vw;
}

.active{
    background-color: rgb(255, 255, 255);
    color: blue;
}
.unactive{
    opacity: 0;
}

.disable{
    background-color: gray;
    color: white;
}

/* INPUT */

.input{
    font-size: 15px;
    padding: 0 8px;
    outline: none;
}


/* ICON */




.icon_container{
    padding: 7px;
    height: 100%;
    font-size: 18px;
}

.icon_click_color{
    color:var(--primary_color)
}
.icon_click_color:hover{
    color:rgb(66, 69, 75)
}

.navbar_Icon{
    height: 21px;
    /* margin: 5px; */
}

/* FLEX */
.flex{
    display: flex;
}

.flex1{
    flex: 1;
}
.flex2{
    flex:2;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}



.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}



.flex_col{
    flex-direction: column;
}

/* GRID */
.grid{
    display: grid;
    /* grid-gap: 0.5rem; */
}
.grid-gap{
    grid-gap: 0.5rem;
}
.grid-col-7{
    grid-template-columns: repeat(7,1fr);
}

.grid-col-3{
    grid-template-columns: repeat(3,1fr);

}
.grid-col-6{
    grid-template-columns: repeat(6,1fr);
}

.small_images img{
    width: 100%;
    max-width: 200px;
    min-height: 70px;
    max-height: 150px;
}

.grid_content_sidenav{
    grid-template-columns: 14% 76% 10%;
}

/* BUTTONS */
.btn{
    padding: 8px 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    /* font-size: 19px; */
    cursor:pointer;
    margin: 5px;
}

.button{
    cursor: pointer;
    border: none;
    
}

.btn_click:active{
    transform: scale(0.97);
}



.btn_primary{
    background-color: #0244ea;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn_primary:hover{
    background-color: #051ca1;
}

.btn_secondary{
    background-color: #2a2a72;
    color: white;
}

.btn_secondary:hover{
    background-color:#1e1e52;
}

.btn_tranpernt{
    background-color: transparent;
    border: transparent;
    color: white;
}

.page_select_button{
    padding:9px;
    margin: 5px 6px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.specing{
    /* padding: 20px 0; */
    margin: 35px 0;
}
/* TODO need to clean css classes!! */
.responsive{ 
    display: flex;
}

/* Colors */


.yellow{
    color: yellow;
} 

.transpernt{
    background-color: transparent;
}


.primeColorR{
    color: #0026fd;
}

.primeColorBg{
    background-color: #0026fd;
}
.primeColor{
    background-color: #0026fd;
}

.secondary_color{
    color: white;
}

.ThirdColorBg{
    background-color: #2a2a72;
}

@media(max-width:1000px){

    .responsive{
        display: block;
    }

    .icon_container{
        padding: 10px ;
    }
    .container{
        padding: 0 10px;
        margin: auto;
        width: 100%
    }


    .big_screen_size{
        display: none;
        /* opacity: 0; */
    }

    .small_screen_size{
        display: block;
    }

  

  

    .title{
        text-align: center;
        font-size: 35px;
    }
    .bigText{
        font-size: 15px;
    }

    .mediumText{
        font-size: 13px;
    }

    
    .grid-col-7{
        grid-gap: 0.3rem;
        grid-template-columns: repeat(3,1fr);
    }
    .btn{
        padding:5px;
        
    }
}