
:root{
    --primary_color:white;
    --secondary_color:#0026fd;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box
}



body{
    font-family: sans-serif;
    color: white;
    overflow: scroll;
}



.bigText{
    font-size: 40px;
}

.App{
    min-height: 100vh;
    /* min-width: 100vh; */
    position: relative;
    background-color: black;
    z-index: 2;
    animation-duration: 0.02s;
}

.App::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat:repeat;
    /* background-position: center; */
    /* background-size: cover; */
    background-image: url('/public/images/netFlixBG.png');
    opacity: 0.4;
    z-index: -666;
}


.container{
    padding: 20px 120px;
    /* width: 80vw; */
    /* margin: auto; */
}
/* INPUT */

.input{
    font-size: 15px;
    padding: 0 8px;
    outline: none;
}


/* ICON */

.navbar_Icon{
    height: 21px;
}

/* FLEX */
.flex{
    display: flex;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}



.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}



.flex_col{
    flex-direction: column;
}
/* GRID */
.grid{
    display: grid;
    grid-gap: 0.5rem;
}
.grid-col-5{
    grid-template-columns: repeat(7,1fr);
}

.grid_content_sidenav{
    grid-template-columns: 14% 76% 10%;
}

/* BUttons */
.btn{
    
    padding: 8px 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    font-size: 19px;
    cursor:pointer;
    margin: 5px;
}



.btn_click:active{
    transform: scale(0.97);
}



.btn_primary{
    background-color: #0244ea;
    color: white;
}

.btn_primary:hover{
    background-color: #051ca1;
}

.btn_tranpernt{
    background-color: transparent;
    border: transparent;
    color: white;
}


/* Colors */

.yellow{
    color: yellow;
}

.primeColorBg{
    background-color: #0026fd;
}
.primeColor{
    background-color: #0026fd;
}

.ThirdColorBg{
    background-color: #2a2a72;
}

/* @media(max-width:900px){

    .grid-col-5{
        grid-template-columns: repeat(2,1fr);
    }

  

} */