
:root{
    --primary_color:white;
    --secondary_color:#0026fd;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box
}



body{
    font-family: sans-serif;
}


.App{
    min-height: 100vh;
    /* min-width: 100vh; */
    position: relative;
    background-color: black;
    z-index: 2;
    animation-duration: 0.02s;
}

.App::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat:repeat;
    background-image: url('/public/images/movieBG.jpg');
    opacity: 0.6;
    z-index: -111;
}


.container{
    width: 80vw;
    margin: auto;
}



.flex{
    display: flex;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}



.justify_center{
    justify-content: center;
}

.align_center{
    align-items: center;
}



.flex_col{
    flex-direction: column;
}

.grid{
    display: grid;
    grid-gap: 0.7rem;
}
.grid-col-5{
    grid-template-columns: repeat(5,1fr);
}

.grid_content_sidenav{
    grid-template-columns: 14% 76% 10%;
}


.btn{
    padding: 5px 20px;
    font-weight: 500;
    border: 2px solid;
    border-radius: 10px;
    font-size: 15px;
    cursor:pointer
}

.btn:active{
    transform: scale(0.97);
}

.icon{
    cursor: pointer;
    margin: 0 15px;
    height: 20px;
}

.btn_primary{
    background-color: #051a90;
    color: white;
}

.btn_primary:hover{
    background-color: #041055;
}

/* @media(max-width:900px){

    .grid-col-5{
        grid-template-columns: repeat(2,1fr);
    }

  

} */