
.navbar_container{
    background-image: linear-gradient(#0026fd,#2a2a72);
    color: white;
    height: 100vh;
    width: 40%;
    flex: 5;
    position: sticky;
    top: 0;
  
    transition: 0.2s width ease-in;
}
.navbar_container:hover{
    width: 100%
}

.navbar_container:hover .link_text{
    display: block;
    opacity: 1;
}

.navbar_link{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    transition: 0.1s transform ease-in-out;
}

.active{
   background-color: white;
   color: blue;
}


.navbar_link:hover{
    transform: translate(0,-10px);
    background-color: white;
    color: blue;
}
/* change opacity to 0 */
.link_text{
    width: 100%;
    text-align: center;
    opacity: 0; 
    font-size: 18px;
    transition: 0.1s opacity ease-in;
}






@media(max-width:1000px){


}